<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>Voici la page des movies</h1>
      <div>
        <p><%= title %></p>
        <ul><% movies.map( movie => { %>
          <div><%= movie.title %> (<%= movie.year %>)</div>
        <% }) %></ul>
      </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
