<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>La page de detail des movies</h1>
      <div>
        <form action="/movies-details/<%= movie._id %>?_method=PUT" method="post">
          <legend>Modifier le film</legend>
          <label for="movieTitle">Titre du film</label>
          <input type="text" name="movieTitle" id="movieTitle "value="<%= movie.movieTitle %>">
          <label for="movieTitle">Année du film</label>
          <input type="text" name="movieYear" id="movieYear "value="<%= movie.movieYear %>">
          <button type="submit">Mettre a Jour</button>
        </form>
      </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
