<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <% include ./partials/header %>
    <h1>Voici la page des movies</h1>
    <div>
      Faite vous arnaquer comme un amateur par cette fausse page de movies mouhaahahaha
    </div>
    <% include ./partials/footer %>
  </body>
</html>
