<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>La page de detail des movies</h1>
      <div>
        <form action="/movies-details/<%= movie._id %>?_method=PUT" method="post">
          <legend>Modifier le film</legend>
          <label for="movieTitle">Titre du film</label>
          <input type="text" name="movieTitle" id="movieTitle "value="<%= movie.movieTitle %>">
          <label for="movieTitle">Année du film</label>
          <input type="text" name="movieYear" id="movieYear "value="<%= movie.movieYear %>">
          <button type="submit">Mettre a Jour</button>
        </form>
        <button id="btnSuppr">Supprimer</button>
      </div>
    </div>
    <% include ./partials/footer %>
    <script>
      var btnSuppr = document.getElementById('btnSuppr')
      btnSuppr.addEventListener('click', deleteDocument)

      function deleteDocument() {
        var movieId = <%- JSON.stringify(movie._id) %>

        axios.delete(`/movies-details/${movieId}`)
          .then(function(response) {
            window.location = '/movies'
          })
          .catch(function(error) {
            console.error(error);
          })
      }
    </script>
  </body>
</html>
