<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>Voici la page des movies</h1>
      <div>
        <p><%= title %></p>
        <ul class="frenchMovies"><% movies.map( movie => { %>
          <div><%= movie.movieTitle %> (<%= movie.movieYear %>)</div>
        <% }) %></ul>
      </div>
      <br>
      <div>
        <form action="/movies" method="post">
          <label
            for="movieTitle">
            Titre du film
          </label>
          <input
            type="text"
            name="movieTitle"
            id="movieTitle"
            placeholder="Le titre de votre film">
          <label
            for="movieYear">
            Année du film
          </label>
          <input
            type="text"
            name="movieYear"
            id="movieYear"
            placeholder="L'année de votre film">
          <button
            type="submit">
            Ajouter
          </button>
        </form>
      </div>
    </div>
    <% include ./partials/footer %>
    <script>
      const form = document.querySelector('form')
      form.addEventListener('submit', addMovie)
      function addMovie(event) {
        event.preventDefault()
        if (fetch) {
          fetch('/movies', {
            method: 'POST',
            body: new FormData(form)
          })
          .then(checkStatus)
          .catch(function(error) {
            console.log('request failed', error)
          })
        } else {
          // jQuery...
        }
        function checkStatus(response) {
          if (response.status >=200 && response.status < 300) {
            let newMovieDiv = document.createElement('div')
            const movieTitle = document.getElementById('movieTitle').value
            const movieYear = document.getElementById('movieYear').value
            newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`
            document.querySelector('.frenchMovies').appendChild(newMovieDiv)
            form.reset()
          }
        }
      }
    </script>
  </body>
</html>
