<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>La page de detail des movies</h1>
      <div>
        Un peu plus de details sur l'arnaque <%= movieId %>
      </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
