<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <h1>Voici la page des de detail du film</h1>
    <div>
      Un peu plus de details sur l'arnaque
    </div>
  </body>
</html>
