<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>Voici la page des movies</h1>
      <div>
        <p><%= title %></p>
        <ul><% movies.map( movie => { %>
          <div><%= movie.title %> (<%= movie.year %>)</div>
        <% }) %></ul>
      </div>
      <br>
      <div>
        <form action="/movies" method="post">
          <label
            for="movieTitle">
            Titre du film
          </label>
          <input
            type="text"
            name="movieTitle"
            id="movieTitle"
            placeholder="Le titre de votre film">
          <label
            for="movieYear">
            Année du film
          </label>
          <input
            type="text"
            name="movieYear"
            id="movieYear"
            placeholder="L'année de votre film">
          <button
            type="submit">
            Ajouter
          </button>
        </form>
      </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
